</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Conclusion</title>
<link rel="stylesheet" href="../../static/css/intro.css">
<style>
    .result-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ff8c00;
    }
</style>
</head>

<body>
    <div class="result-container">
        <h1>Defeat the mushroom</h1>
        <section id="special-considerations">
            <h2>Is this mushroom edible or poisonous?</h2>
            <p>To predict an answer to this question, we analyzed the data and made an application to help us figure out
                which mushroom was poisonous or edible. We just don’t want to die if we eat it. </p>
            <h2>Machine Learning and Analysis Recap:</h2>
            <p>The random forest model analysis on the full 22 attributes resulted in a 1.0 accuracy score. Whereas the
                optimized model analysis on 10 attributes resulted in a .99 accuracy score.</p>
            <p>The logistic regression model analysis on the full 22 attributes resulted in a 1.0 accuracy score. Also,
                the optimized model analysis on 9 attributes resulted in a 1.0 accuracy score.</p>
            <p>Given the high accuracy score, our predictions are likely to answer the question, “will I die if I eat
                that mushroom?”</p>
            <p>We have faith that our app will successfully let you know if you can eat that mushroom. </p>
            <h2>Other possible uses of our app could be:</h2>
            <p>- Boy Scouts on a camping trip. They could enter the attributes and find out if the mushroom is edible.
            </p>
            <p>- Home owners could identify the random mushrooms that grow in their yard to see if they are poisonous to
                their pets.</p>
            <p>- A lost hiker in the middle of nowhere</p>
            <p>- Stranded airline passengers on a mountain.</p>
            <p></p>
        </section>
    </div>
</body>

</html>