<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Introduction - Mushroom Classification</title>
    <link rel="stylesheet" href="../static/css/intro.css">
</head>
<body>
    <div class="container">
        <h1>Super Mushroom Classification Project</h1>
        <p>Welcome to our project introduction page! Our team is on a quest to explore the
            mushroom kingdom, using the power of machine learning to distinguish between edible and poisonous mushrooms.
        </p>

        <h2>Team Members</h2>
        <ul>
            <li>Jessica Baggett</li>
            <li>Melissa Mosby</li>
            <li>Ryan Joseph</li>
            <li>CJ Suarez</li>
        </ul>

        <h2>Project Scope</h2>
        <p>Our mission involves supervised learning and exploration to uncover the relationships between various
            mushroom features and their classification as edible or poisonous.</p>

        <h2>Dataset</h2>
        <p>The dataset for our adventure has been harvested from the vast fields of Kaggle:</p>
        <a href="https://www.kaggle.com/datasets/uciml/mushroom-classification/data" target="_blank">Mushroom
            Classification Dataset</a>

        <h2>Explore Our Project</h2>
        <ul>
            <li><a href="index.html">Mushroom Identification App</a> - Discover whether a mushroom is friend or foe.</li>
            <li><a href="analysis.html" target="_blank">Data Cleaning and Modeling</a> - Follow our journey through
                data preparation and insight discovery.</li>
        </ul>
    </div>
</body>

</html>