body {
    font-family: 'Press Start 2P', cursive;
<<<<<<< HEAD
    background-image: url('../../Figures/super_mario_wallpaper.jpeg');
=======
    background-image: url('../static/images/Super Mario Wallpaper.png');
>>>>>>> 66a8585ed6e63185b29ac89801e3e06795c433c8
    background-size: cover;
    background-position: center;
    background-color: #5c94fc;
    text-align: center;
}

.container {
    background-color: #ff8c00;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

h1, h2 {
    color: #ffffff;
}

h2 {
    color: #ff0;
}
